* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #F1F1FB;
    color: #333;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 50px 20px;
}

header h1 {
    text-align: center;
    padding-bottom: 10px;
    font-size: 32px;
    font-weight: 700;
}

header h1::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #4A90E2;
    margin: 10px auto 0;
    border-radius: 2px;
}

header p {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #666;
    opacity: 0.7;
    margin-top: 10px;
}

section {
    background: #fff;
    border-radius: 12px;
    padding: 40px;
    margin-top: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

section h2 {
    font-size:18px;
    font-weight: 600;
    margin-bottom: 25px;
    color: #111;
    text-align: center;
}

section h2::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #4A90E2;
    margin: 10px auto 0;
    border-radius: 2px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input, select {
    padding: 14px 16px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 15px;
}

input:focus, select:focus {
    border-color: #4A90E2;
    outline: none;
    box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
}

.form-group {
    display: block;
    margin-bottom: 20px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
}

.form-group-name { 
    margin-bottom: 20px;
    width: 50%;
    flex: 1;
    display: flex;
    flex-direction: column;
}


button {
    background-color: #4A90E2;
    color: #fff;
    padding: 15px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    width: 50%;
    transition: all 0.3s ease-in-out;
    text-align: center;
}

button:hover {
   opacity: 0.7;
   border: 2px solid rgb(70, 68, 68);
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

footer {
    text-align: center;
    margin-top: 40px;
    font-size: 14px;
    color: #999;
}